---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */

$slate: #547A82;
$rave: #3EACA8;
$cactus: #E6EEC3;

$space: #1a1a1a;
$moon: #F2F2F2;
$sun: #FFC300;

@import
    "mixins",
    "default",
    "404"
;
