---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */

$space: #05090F;
$moon: #E4F6EE;

$neptune: #5764C7;
$galaxy: #900C3F;

$gold: #E6CE1D;
$yellow: #F4DD08;
$sun: #FDEC00;
$slate: #403F45;
$paper: #FFFFFF;

$body: 'Lato', sans-serif;
$extra: 'Josefin Slab', serif;
$header: 'Lobster', cursive;


@import
    "mixins",
    "default",
    "404"
;
