<!DOCTYPE html>
<html lang="en">
    
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
 
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109276377-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            /*global dataLayer*/ 
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-109276377-1');
        </script>

        <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300,700" rel="stylesheet">
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}

        {% include externals/styling.html %}
    </head>

    <body>
        <div class="wrapper">
            {% include header.html %}

            {{ content }}
        </div>

        {% include externals/scripting.html %}
        {% include externals/google_analytics.html %}
    </body>
</html>